.page {
  height: 100%;
  background-color: #f2f2f2;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 400 14px/21px var(--font-primary);
  color: var(--color-primary);
  background-color: var(--background-primary);
}

.page__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--page-offset);
}

.page__main {
  flex-grow: 1;
}
