<footer class="footer">
  <div class="footer__contacts">
    <p class="footer__contacts-caption">приглашаем к сотрудничеству дилеров!</p>
    <p class="footer__address">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</p>
  </div>
  <a class="logo" href="index.html">
    <img class="logo__image" src="#" width="101" height="18" alt="Логотип сайта.">
  </a>
  <ul class="social">
    <li class="social__list">
      <a class="social__link" href="https://vk.com/htmlacademy">
        <span class="visually-hidden">Перейти в vkontakte.</span>
      </a>
    </li>
    <li class="social__list">
      <a class="social__link" href="https://www.youtube.com/user/htmlacademyru">
        <span class="visually-hidden">Перейти в youtube.</span>
      </a>
    </li>
    <li class="social__list">
      <a class="social__link" href="https://t.me/htmlacademy">
        <span class="visually-hidden">Перейти в telegram.</span>
      </a>
    </li>
  </ul>
  <a href="https://htmlacademy.ru/intensive/adaptive" aria-label="Перейти на сайт htmlacademy.">HTML Academy</a>
</footer>
