<footer class="footer">
  <div class="footer__content page__container">
    <a class="footer__logo logo logo--text-only" href="index.html">
      <img class="logo__text" src="img/stack.svg#icons_logo-text" width="128" height="24" alt="Текстовый логотип сайта.">
    </a>
    <div class="footer__social">
      <ul class="social">
        <li class="social__item">
          <a class="social__link social__link--vk" href="https://vk.com/htmlacademy">
            <span class="visually-hidden">Перейти в vkontakte.</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru">
            <span class="visually-hidden">Перейти в youtube.</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--telegram" href="https://t.me/htmlacademy">
            <span class="visually-hidden">Перейти в telegram.</span>
          </a>
        </li>
      </ul>
    </div>
    <a class="footer__copyrights" href="https://htmlacademy.ru/intensive/adaptive" aria-label="Перейти на сайт htmlacademy.">HTML Academy</a>
  </div>
</footer>
