<section class="contacts">
  <h2 class="visually-hidden">Контакты</h2>
  <div class="contacts__details page__container">
    <p class="contacts__details-caption">приглашаем к&nbsp;сотрудничеству дилеров!</p>
    <div class="contacts__details-address">
      <p>ул. Большая Конюшенная, д. 19/8</p>
      <p>Санкт-Петербург</p>
    </div>
  </div>
  <iframe
    class="contacts__map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253003165!2d30.320858716173472!3d59.938719169054075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5MTE4Ng!5e0!3m2!1sru!2sin!4v1674268183183!5m2!1sru!2sin"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</section>
